@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vehmon Admin Dashboard
            <small>Management Console</small>
        </h1>
    </div>
    <div>
        <img style="display: block; margin-left: auto;margin-right: auto" src="@Url.Content("~/Content/img/foto_91609.jpg")"/>
    </div>
    <div class="content-wrapper">
        <p style="font-size: medium">
            <br/>
            <h3>What can you do here?</h3>
            The prevalent view is that the term logistics comes from the late 19th century: from French logistique (loger means to lodge). Others attribute a Greek origin to the word: λόγος, meaning reason or speech; λογιστικός, meaning accountant or responsible for counting.[1]
            <br/>
            <br/>
            The Oxford English Dictionary defines logistics as "the branch of military science relating to procuring, maintaining and transporting material, personnel and facilities." However, the New Oxford American Dictionary defines logistics as "the detailed coordination of a complex operation involving many people, facilities, or supplies," and the Oxford Dictionary on-line defines it as "the detailed organization and implementation of a complex operation."[2] As such, logistics is commonly seen as a branch of engineering that creates "people systems" rather than "machine systems."
            <br/>
            <br/>
            According to the Council of Logistics Management,[3] logistics includes the integrated planning, control, realization, and monitoring of all internal and network-wide material, part, and product flow, including the necessary information flow, industrial and trading companies along the complete value-added chain (and product life cycle) for the purpose of conforming to customer requirements.
            <br/>
            <h3>Is your data secure?</h3>
            Logistics is the process of planning, implementing, and controlling the effective and efficient flow of goods and services from the point of origin to the point of consumption.[4]
            <br/>
            <br/>
            Academics and practitioners traditionally refer to the terms operations or production management when referring to physical transformations taking place in a single business location (factory, restaurant or even bank clerking) and reserve the term logistics for activities related to distribution, that is, moving products on the territory. Managing a distribution center is seen, therefore, as pertaining to the realm of logistics since, while in theory the products made by a factory are ready for consumption they still need to be moved along the distribution network according to some logic, and the distribution center aggregates and processes orders coming from different areas of the territory. That being said, from a modeling perspective, there are similarities between operations management and logistics, and companies sometimes use hybrid professionals, with for ex. "Director of Operations" or "Logistics Officer" working on similar problems. Furthermore, the term supply chain management originally refers to, among other issues, having a global vision in of both production and logistics from point of origin to point of production.[5] All these terms may suffer from semantic change as a side effect of advertising.
        </p>
    </div>
</div>
<!-- /.row -->
