    <div class="jumbotron">

        <div class="container">
            <h1>Welcome To Vehmon Development!</h1>
            <p>Vehmon is a world leading mobile and web software applications company. We specializes in Android development and we take a proud stance in our cleverness.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>