<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="vehmonEntities" connectionString="metadata=res://*/VehmonEntities.csdl|res://*/VehmonEntities.ssdl|res://*/VehmonEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vehmonmachine.cloudapp.net;port=3306;user id=VehmonAdmin;password=Vehmon12#;database=vehmon;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="vehmonEntities1" connectionString="metadata=res://*/VehmonEntities.csdl|res://*/VehmonEntities.ssdl|res://*/VehmonEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vehmonmachine.cloudapp.net;port=3306;user id=VehmonAdmin;password=Vehmon12#;persistsecurityinfo=True;database=vehmon&quot;" providerName="System.Data.EntityClient" />
    <add name="vehmonEntities2" connectionString="metadata=res://*/VehmonEntities.csdl|res://*/VehmonEntities.ssdl|res://*/VehmonEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vehmonmachine.cloudapp.net;port=3306;user id=VehmonAdmin;password=Vehmon12#;persistsecurityinfo=True;database=vehmon&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5.1" requestPathInvalidCharacters="" requestValidationMode="2.0" maxUrlLength="20000" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="VehmonWebServices.Authentication" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="VehmonWebServices.IAuthenticationServiceContract" behaviorConfiguration="web" />
      </service>
      <service name="VehmonWebServices.LeaveService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="VehmonWebServices.ILeaveServiceContract" behaviorConfiguration="web" />
      </service>
      <service name="VehmonWebServices.MessageService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="VehmonWebServices.IMessageServiceContract" behaviorConfiguration="web" />
      </service>
      <service name="VehmonWebServices.TimeTrackingService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="VehmonWebServices.ITimeTrackingServiceContract" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>